.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 16px;
  padding-top: 30px;
}

.addTaskContainer {
  margin-bottom: 30px;
}

.addTaskContainer > input{
  width: 100%;
}

.formGroup {
  display: flex;
  margin-top: 15px;
}

.formGroup + button {
  margin-top: 10px;
  min-width: 70px;
}

button {
  background: #fff;
  border-radius: 2px;
  border: 2px solid rgb(53, 146, 53);
  padding: 5px;
  min-width: 30px;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: rgb(53, 146, 53);
}

label {
  margin-right: 10px;
}

input {
  border-radius: 2px;
  border: 1px solid black;
  padding: 5px 10px;
}

hr {
  width: 100%;
}

.delete {
  border-color: rgb(160, 15, 15);
  color: rgb(160, 15, 15);
  margin-left: 5px;
}

.delete:hover {
  background-color: rgb(160, 15, 15);
}